.card-itens-carrinho {
    background: rgba(30, 0, 87, 0.61);
    border-radius: 10px;
    box-shadow: inset 0 0 2px 2px rgba(79, 209, 219, 0.305) !important;
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
}

.bagde-carrinho {
    background: rgba(57, 0, 87, 0.61);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    border: 1px solid rgba(192, 221, 3, 0.551);
}

/* Resumo da Compra */
.container-resumo {
    background: rgba(30, 0, 87, 0.61);
    border-radius: 10px;
    box-shadow: inset 0 0 2px 2px rgba(79, 209, 219, 0.305) !important;
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
}

.linha-resumo,
.valor-resumo,
.rotulo-resumo {
    font-size: 1.1rem;
}