/* Poster */
.poster-filme {
    max-height: 520px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

/* Tag */
.tag {
    padding: 6px 16px;
    border-radius: 15px;
    font-weight: 800;
    font-size: 0.75rem;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

/* Títulos */
.titulo-filme {
    color: #0dcaf0;
}

.titulo-sessao {
    color: #0dcaf0;
    letter-spacing: 2px;
    font-size: 0.9rem;
}

/* Sinópse */
.descricao {
    font-size: 1.1rem;
    line-height: 1.8;
    padding: 15px;
    border-bottom: 1px solid #7e31fb3c;
    border-top: 1px solid #7e31fb3c;
    width: 95%;
    background: rgba(32, 1, 65, 0.47);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
}

/* Programação */
.horarios {
    box-shadow: inset 0 0 2px 2px rgba(79, 209, 219, 0.305) !important;
    padding: 10px;
    background: rgba(32, 1, 65, 0.708);
    backdrop-filter: blur(6.7px);
    -webkit-backdrop-filter: blur(5.7px);
}

/* Sala */
.lista-sessoes-sala {
    border: 1px solid #3e31fb3a;
    padding: 10px;
    background: rgba(44, 2, 88, 0.762);
    backdrop-filter: blur(6.7px);
    -webkit-backdrop-filter: blur(5.7px);
}

/* Informações */
.card-info-filme {
    background: rgba(32, 1, 65, 0.47);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 5px solid #0dcaf0;
    border-right: 5px solid #0dcaf0;
    border-radius: 15px;
    box-shadow: inset 0 0 2px 2px rgba(79, 209, 219, 0.305) !important;

}

.info-filme-label {
    color: #ffee00 !important;
}

/* Botões Sessão */
.btn-sessao {
    background: #6610f2;
    border: none;
    color: white;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 12px;
    transition: 0.3s;
}

.btn-sessao:hover {
    color: white;
    transform: translateY(-2px);
    background-color: #7f31fb;
}