.container-resumo {
    background: rgba(30, 0, 87, 0.61);
    border-radius: 10px;
    box-shadow: inset 0 0 2px 2px rgba(79, 209, 219, 0.305) !important;
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
}

#form-pagamento .form-control::placeholder {
    color: rgba(255, 255, 255, 0.4);
}

#form-pagamento .form-control:focus {
    border-color: #0dcaf0;
    color: white;
}

/* Pagamento indiponóvel (pix, boleto */
.container-pagamento-indisponivel {
    position: relative;
}

.camada-indisponivel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(12, 0, 39, 0.6);
    backdrop-filter: blur(4px);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    cursor: not-allowed;
}

.alerta-indisponivel {
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.conteudo-pagamento-desativado {
    filter: grayscale(1);
    opacity: 0.3;
    pointer-events: none;
    user-select: none;
}
