.container-resumo {
    background: rgba(30, 0, 87, 0.61);
    border-radius: 10px;
    box-shadow: inset 0 0 2px 2px rgba(79, 209, 219, 0.305) !important;
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
}

#form-pagamento .form-control::placeholder {
    color: rgba(255, 255, 255, 0.4);
}

#form-pagamento .form-control:focus {
    background-color: rgba(255, 255, 255, 0.05);
    border-color: #0dcaf0;
    color: white;
    box-shadow: 0 0 0 0.25 mil rem rgba(13, 202, 240, 0.25);
}
