body {
    background-color: rgba(93, 85, 235, 0.57);
    background-image: url("../imagens/fundo/6857381.jpg") !important;
    background-blend-mode: multiply;
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    color: #ffffff;
    min-height: 100vh;
}

.fundo {
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    min-height: 100vh;
}

/* Títulos */
h1,
h2,
h3,
h4,
h5 {
    text-shadow: 1px 1px 3px #111111c5,
        2px 2px 3px  #111111c5 !important;
}

h5 {
    color: #14fff3 !important;
}

h6 {
    font-weight: 600 !important;
}

/* hr */
hr {
    width: 90%;
    justify-self: center;
    color: #d1bc01b5;
}

/* Navbar */
.navbar {
    position: sticky !important;
    top: 0;
    z-index: 1000;
    background-color: rgba(21, 0, 55, 0.625) !important;
    backdrop-filter: blur(10px);
}

.nav-link:hover {
    color: #07c5ff !important;
}

#bagde-carrinho {
    background: rgba(14, 0, 87, 0.61);
    border-radius: 10px;
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    border: 1px solid rgba(3, 221, 221, 0.551);
}

/* Carrossel */
.carousel-caption {
    background-color: #0b00247e !important;
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
    bottom: 8px;
    left: 0;
    right: 0;
    width: 100%;
    padding: 10px 0;
}

/* Card Filmes */
.filme-card {
    border-radius: 10px;
    overflow: hidden;
    background: rgba(35, 0, 79, 0.574);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: inset 0 0 2px 2px rgba(79, 209, 219, 0.305) !important;
    transition: transform 0.3s ease;
}

.filme-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, .4);
}

.filme-card img {
    height: 500px;
    width: auto;
    object-fit: cover;
}

a {
    text-decoration: none !important;
}

/* Tags Classificação Indicativa */
.vermelho-tag {
    background-color: #ea0505;
    color: white;
}

.laranja-tag {
    background-color: #e0730d;
    color: white;
}

.amarelo-tag {
    background-color: #f0c000;
    color: #ffffff;
}

.verde-tag {
    background-color: #16a34a;
    color: white;
}

.azul-tag {
    background-color: #2563eb;
    color: white;
}

/* Footer */
.footer-neon {
    background-color: rgba(21, 0, 55, 0.625) !important;
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 15px rgba(7, 197, 255, 0.1);
    color: white;
}

/* Ícones Redes Sociais */
.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    transition: all 0.2s ease;
}

.social-icon:hover {
    background: #07c5ff;
    color: #000;
    box-shadow: 0 0 15px #07c5ff;
    transform: translateY(-2px);
}

/* Modais */
/* Conteúdo */
.modal-content {
    background: rgba(21, 0, 55, 0.85) !important;
    backdrop-filter: blur(15px);
    border: 1px solid rgba(7, 197, 255, 0.5);
    box-shadow: 0 0 30px rgba(7, 197, 255, 0.2);
    color: white;
    border-radius: 15px;
}

/* Cabeçalho */
.modal-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.modal-title {
    color: #07c5ff;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(7, 197, 255, 0.5);
}

.modal-header-erro .modal-title {
    color: #f69fb5;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(233, 0, 78, 0.97);
}

/* Botão Fechar */
.btn-close {
    filter: invert(1);
}

/* Rodapé e Botões */
.modal-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.btn-secondary {
    background: transparent !important;
    border: 1px solid #07c5ff !important;
    color: #07c5ff !important;
    transition: 0.3s;
}

.btn-secondary:hover {
    background: #07c5ff !important;
    color: #000 !important;
    box-shadow: 0 0 8px #67c7e4;
}